.banner {
  background-color: #fef200;
  display: flex;
  justify-content: flex-start;
}

* {
  padding: 0;
  margin: 0;
}

.logo {
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 400px;
  margin-top: 19px;
  max-width: 560px
}

.slide-right h2 {
  animation: 0.35s slide-right 0.05s forwards;
  transform:translateX(-100%);
  font-family: Arial, Sans-Serif;
  font-size: 45px;
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

.collapsed {
  display: none;
}